.company-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.text-info {
  flex: 1;
}

.image-box {
  width: 120px;
  height: 120px;
  border: 1px solid #888;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-box img {
  max-width: 90%;
  max-height: 90%;
}