.registration-container {
  text-align: center;
  padding: 20px;
}

.tg-id {
  font-size: 14px;
  margin-bottom: 10px;
  color: #666;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #27a7e7;
  border-radius: 5px;
}

.selected-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 20px 20px;
  border: 2px solid #000;
}

.image-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-image {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: border-color 0.3s;
}

.gallery-image.selected {
  border: 3px solid #27a7e7;
}

.register-button {
  margin-top: 20px;
  display: block;
  width: 100%;
  /* Полная ширина родительского контейнера */
  padding: 12px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #0088cc;
  /* Синий цвет кнопки */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-sizing: border-box;
}

.register-button:hover {
  background-color: #45a049;
}
.welcome-header {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  white-space: pre-wrap;
}

.welcome-text {
  margin: 10px 0;
  font-size: 16px;
  color: #666666;
}

